# ==============================
# Python
# ==============================
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# ==============================
# Virtual Environments
# ==============================
.venv/
venv/
env/
ENV/

# ==============================
# Environment Variables (VERY IMPORTANT)
# ==============================
.env
.env.*
*.env

# ==============================
# Jupyter Notebook
# ==============================
.ipynb_checkpoints

# ==============================
# VS Code
# ==============================
.vscode/

# ==============================
# Mac / Windows
# ==============================
.DS_Store
Thumbs.db

# ==============================
# Logs
# ==============================
*.log

# ==============================
# uv / poetry / pipenv
# ==============================
__pypackages__/
.poetry/
pip-wheel-metadata/

# ==============================
# Coverage
# ==============================
.coverage
htmlcov/
.pytest_cache/

# ==============================
# Temporary Files
# ==============================
*.tmp
*.swp


# PyTorch model weights
*.pth